@import "tailwindcss";

@theme {
  --color-crimson: #DC143C;
  --color-whatsapp-green: #25D366;
  --color-whatsapp-dark-green: #075E54;
  --color-whatsapp-light-green: #D9FDD3;
  --color-whatsapp-bg: #e4e1de;
  --color-whatsapp-chat-bg: #f0f2f5;
  --color-ring-whatsapp-blue: #00ffff;
}
