# K8s
POD_NAME=example_name_value

# Google Auth
GOOGLE_CLIENT_ID=example_google_client_id
GOOGLE_CLIENT_SECRET=example_google_client_secret

# JWT
JWT_SECRET_KEY=example_jwt_secret_key

# Database
DATABASE_NAME=example_db_name
DATABASE_USER=example_db_user
DATABASE_PASSWORD=
DATABASE_URL=postgres://your_user:your_password@localhost:5432/your_database