apiVersion: v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 3 # Number of pod replicas
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: my-backend-image:latest
        ports:
        - containerPort: 3000
        env:
        
